In [1]:
import numpy as np 
import pandas as pd

In [2]:
pwd

'c:\\Users\\Ertuğrul\\Documents\\Data Science And ML\\Data Analysis With Python\\Data-Analysis-With-Python'

In [3]:
ls

 Volume in drive C has no label.
 Volume Serial Number is BE4C-36AD

 Directory of c:\Users\Ertu�rul\Documents\Data Science And ML\Data Analysis With Python\Data-Analysis-With-Python

15.03.2021  15:20    <DIR>          .
15.03.2021  15:20    <DIR>          ..
14.03.2021  23:05               683 Code Running Time.txt
07.02.2020  11:26               177 movie_scores.csv
01.07.2020  14:56            17.727 mpg.csv
03.03.2021  16:03            18.211 Numpy Array Hand On.ipynb
03.03.2021  16:03            11.781 Numpy Indexing And Selection Hand On.ipynb
08.03.2021  20:39             1.614 Numpy Operations Hand On.ipynb
10.03.2021  12:41            27.511 Pandas Apply On Single-Multiple Column Hand On.ipynb
12.03.2021  20:43            60.564 Pandas Combining DataFrame Hand On.ipynb
09.03.2021  20:37            88.082 Pandas Conditional Filtering Hand On.ipynb
08.03.2021  17:23           107.258 Pandas DataFrames Hand On.ipynb
10.03.2021  18:46           191.947 Pandas GroupBy Operaions Hand On.ipynb
15.03.2021  15:21               869 Pandas Input Output CSV Hand On.ipynb
10.03.2021  18:02            51.813 Pandas Missing Data Hand On.ipynb
14.03.2021  23:30             2.899 Pandas Note.txt
14.03.2021  22:47            38.324 Pandas Series Hand On.ipynb
10.03.2021  13:26            81.849 Pandas Statistical Info And Sorting Hand On.ipynb
13.03.2021  20:23             9.667 Pandas Text Method For String Data Hand On.ipynb
15.03.2021  15:20            25.800 Pandas Time Methods For Date Hand On.ipynb
03.03.2021  12:37                27 README.md
02.07.2020  16:56             5.459 RetailSales_BeerWineLiquor.csv
27.01.2020  13:28            18.752 tips.csv
              21 File(s)        761.014 bytes
               2 Dir(s)  562.452.697.088 bytes free

In [4]:
import os

In [5]:
os.getcwd()

'c:\\Users\\Ertuğrul\\Documents\\Data Science And ML\\Data Analysis With Python\\Data-Analysis-With-Python'

In [7]:
df = pd.read_csv("example.csv")

In [8]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
df = pd.read_csv("example.csv", header=None)

In [10]:
df

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

In [14]:
df = pd.read_csv("example.csv")

In [15]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [16]:
df = pd.read_csv("example.csv", index_col=0)

In [17]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

In [18]:
df.to_csv("newfile.csv", index=True)

In [19]:
new = pd.read_csv("newfile.csv")

In [20]:
new

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15