In [1]:
import numpy as np 
import pandas as pd

In [5]:
email = "jose@email.com"

In [6]:
email.split("@")

['jose', 'email.com']

In [7]:
names = pd.Series(["andrew", "bobo", "claire", "david", "5"])

In [8]:
names

0    andrew
1      bobo
2    claire
3     david
4         5
dtype: object

In [10]:
names.str.upper()

0    ANDREW
1      BOBO
2    CLAIRE
3     DAVID
4         5
dtype: object

In [12]:
email.isdigit()

False

In [13]:
"5".isdigit()

True

In [15]:
names.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [18]:
tech_finance = ["GOOG,APPL,AMZN", "JPM,BAC,GS"]

In [19]:
len(tech_finance)

2

In [20]:
tickers = pd.Series(tech_finance)

In [21]:
tickers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [22]:
tickers.str.split(",")

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [23]:
tech = "GOOG, APPL, AMZN"

In [24]:
tech.split(",")[0]

'GOOG'

In [25]:
tickers.str.split(",").str[0]

0    GOOG
1     JPM
dtype: object

In [26]:
tickers.str.split(",", expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [27]:
type(tickers.str.split(",", expand=True))

pandas.core.frame.DataFrame

In [28]:
messy_names = pd.Series(["amdrew","bo;bo","  claire  "])

In [29]:
messy_names

0        amdrew
1         bo;bo
2      claire
dtype: object

In [30]:
messy_names.str.replace(";","").str.strip()

0    amdrew
1      bobo
2    claire
dtype: object

In [31]:
messy_names.str.replace(";","").str.strip().str.capitalize()

0    Amdrew
1      Bobo
2    Claire
dtype: object

In [34]:
messy_names

0        amdrew
1         bo;bo
2      claire
dtype: object

In [39]:
def cleanup(name):
    name = name.replace(";","")
    name = name.strip()
    name = name.capitalize()
    return name

In [40]:
messy_names.apply(cleanup)

0    Amdrew
1      Bobo
2    Claire
dtype: object