In [1]:
import pandas as pd # pip install lxml

In [2]:
url = "https://en.wikipedia.org/wiki/World_population"

In [5]:
tables = pd.read_html(url)

In [6]:
len(tables)

26

In [43]:
tables[0]

        World population (millions, UN estimates)[14]  \
                                                    #
0                                                   1
1                                                   2
2                                                   3
3                                                   4
4                                                   5
5                                                   6
6                                                   7
7                                                   8
8                                                   9
9                                                  10
10                                                NaN
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                      Top ten most populous countries
0                                            China[B]
1                                               India
2                                       United States
3                                           Indonesia
4                                            Pakistan
5                                              Brazil
6                                             Nigeria
7                                          Bangladesh
8                                              Russia
9                                              Mexico
10                                        World total
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                                                 2000
0                                                1270
1                                                1053
2                                                 283
3                                                 212
4                                                 136
5                                                 176
6                                                 123
7                                                 131
8                                                 146
9                                                 103
10                                               6127
11  Notes: .mw-parser-output .reflist{font-size:90...

                                                       \
                                                 2015
0                                                1376
1                                                1311
2                                                 322
3                                                 258
4                                                 208
5                                                 206
6                                                 182
7                                                 161
8                                                 146
9                                                 127
10                                               7349
11  Notes: .mw-parser-output .reflist{font-size:90...


                                              2030[A]
0                                                1416
1                                                1528
2                                                 356
3                                                 295
4                                                 245
5                                                 228
6                                                 263
7                                                 186
8                                                 149
9                                                 148
10                                               8501
11  Notes: .mw-parser-output .reflist{font-size:90...

In [8]:
tables[1]

,Continent,Density(inhabitants/km2),Population(millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,439,323,000[note 1] – China","37,393,000/13,929,000 – Greater Tokyo Area/Tok..."
1,Africa,44.4,1340,"0206,139,000 – Nigeria","20,900,000 – Cairo[17]"
2,Europe,73.4,747,"0145,934,000 – Russia;approx. 110 million in E...","16,855,000/12,537,000 – Moscow metropolitan ar..."
3,Latin America,24.1,653,"0212,559,000 – Brazil","22,043,000/12,176,000 – São Paulo Metro Area/S..."
4,Northern America[note 2],14.9,368,"0331,002,000 – United States","23,724,000/8,323,000 – New York metropolitan a..."
5,Oceania,5,42,"0025,499,000 – Australia","4,925,000 – Sydney"
6,Antarctica,~0,0.004[16],N/A[note 3],"1,258 – McMurdo Station"

In [9]:
tables[1].columns

Index(['Continent', 'Density(inhabitants/km2)', 'Population(millions)',
       'Most populous country', 'Most populous city (metropolitan area)'],
      dtype='object')

In [58]:
world_topten = tables[1]

In [59]:
world_topten

,Continent,Density(inhabitants/km2),Population(millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,439,323,000[note 1] – China","37,393,000/13,929,000 – Greater Tokyo Area/Tok..."
1,Africa,44.4,1340,"0206,139,000 – Nigeria","20,900,000 – Cairo[17]"
2,Europe,73.4,747,"0145,934,000 – Russia;approx. 110 million in E...","16,855,000/12,537,000 – Moscow metropolitan ar..."
3,Latin America,24.1,653,"0212,559,000 – Brazil","22,043,000/12,176,000 – São Paulo Metro Area/S..."
4,Northern America[note 2],14.9,368,"0331,002,000 – United States","23,724,000/8,323,000 – New York metropolitan a..."
5,Oceania,5,42,"0025,499,000 – Australia","4,925,000 – Sydney"
6,Antarctica,~0,0.004[16],N/A[note 3],"1,258 – McMurdo Station"

In [60]:
world_topten = world_topten.drop(4, axis=0)

In [51]:
world_topten

,Continent,Density(inhabitants/km2),Population(millions),Most populous country,Most populous city (metropolitan area)
0,Asia,104.1,4641,"1,439,323,000[note 1] – China","37,393,000/13,929,000 – Greater Tokyo Area/Tok..."
1,Africa,44.4,1340,"0206,139,000 – Nigeria","20,900,000 – Cairo[17]"
2,Europe,73.4,747,"0145,934,000 – Russia;approx. 110 million in E...","16,855,000/12,537,000 – Moscow metropolitan ar..."
3,Latin America,24.1,653,"0212,559,000 – Brazil","22,043,000/12,176,000 – São Paulo Metro Area/S..."
5,Oceania,5,42,"0025,499,000 – Australia","4,925,000 – Sydney"
6,Antarctica,~0,0.004[16],N/A[note 3],"1,258 – McMurdo Station"

In [61]:
world_topten.columns = ["Contin","Den","Pop","Most Pop Con","Met"]

In [62]:
world_topten

,Contin,Den,Pop,Most Pop Con,Met
0,Asia,104.1,4641,"1,439,323,000[note 1] – China","37,393,000/13,929,000 – Greater Tokyo Area/Tok..."
1,Africa,44.4,1340,"0206,139,000 – Nigeria","20,900,000 – Cairo[17]"
2,Europe,73.4,747,"0145,934,000 – Russia;approx. 110 million in E...","16,855,000/12,537,000 – Moscow metropolitan ar..."
3,Latin America,24.1,653,"0212,559,000 – Brazil","22,043,000/12,176,000 – São Paulo Metro Area/S..."
5,Oceania,5,42,"0025,499,000 – Australia","4,925,000 – Sydney"
6,Antarctica,~0,0.004[16],N/A[note 3],"1,258 – McMurdo Station"

In [63]:
tables[6]

,Rank,Country,Population,Area(km2),Density(pop/km2),Population trend
0,1,India,1374470000,3287240,418,Growing
1,2,Pakistan,222950000,803940,277,Growing
2,3,Bangladesh,170320000,143998,1183,Rapidly growing
3,4,Japan,126010000,377873,333,Declining[98]
4,5,Philippines,109950000,300000,367,Growing
5,6,Vietnam,96209000,331689,290,Growing
6,7,United Kingdom,66436000,243610,273,Steady
7,8,South Korea,51781000,99538,520,Steady
8,9,Taiwan,23604000,36193,652,Steady
9,10,Sri Lanka,21803000,65610,332,Growing

In [64]:
tables[6].set_index("Rank")

             Country  Population  Area(km2)  Density(pop/km2) Population trend
Rank
1              India  1374470000    3287240               418          Growing
2           Pakistan   222950000     803940               277          Growing
3         Bangladesh   170320000     143998              1183  Rapidly growing
4              Japan   126010000     377873               333    Declining[98]
5        Philippines   109950000     300000               367          Growing
6            Vietnam    96209000     331689               290          Growing
7     United Kingdom    66436000     243610               273           Steady
8        South Korea    51781000      99538               520           Steady
9             Taiwan    23604000      36193               652           Steady
10         Sri Lanka    21803000      65610               332          Growing

In [65]:
world_topten.to_html("sample_table.html", index=False)