In [2]:
import pandas as pd # pip install sqlalchemy
import numpy as np

In [5]:
from sqlalchemy import create_engine

In [ ]:
temp_db = create_engine("sqlite://:memory:")

In [7]:
df = pd.DataFrame(data=np.random.randint(low=0,high=100,size=(4,4)),columns=['a','b','c','d'])

In [8]:
df

    a   b   c   d
0  16  24  92  85
1  62  49  94  81
2  45  84  96   2
3  56  55  72  89

In [ ]:
df.to_sql(name='new_table',con=temp_db)

In [ ]:
new_df = pd.read_sql(sql='new_table',con=temp_db)

In [ ]:
new_df

In [ ]:
result = pd.read_sql_query(sql="SELECT a,c FROM new_table",con=temp_db)

In [ ]:
result