In [3]:
import pandas as pd # pip install xlrd, pip install openpyxl

In [4]:
df = pd.read_excel("my_excel_file.xlsx", sheet_name="First_Sheet")

In [5]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [6]:
wb = pd.ExcelFile('my_excel_file.xlsx')

In [7]:
wb.sheet_names

['First_Sheet']

In [8]:
excel_sheet_dict = pd.read_excel("my_excel_file.xlsx",sheet_name=None)

In [9]:
type(excel_sheet_dict)

dict

In [11]:
excel_sheet_dict.keys()

dict_keys(['First_Sheet'])

In [12]:
excel_sheet_dict["First_Sheet"]

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [13]:
excel_sheet_dict

{'First_Sheet':     a   b   c   d
 0   0   1   2   3
 1   4   5   6   7
 2   8   9  10  11
 3  12  13  14  15}

In [14]:
our_df = excel_sheet_dict["First_Sheet"]

In [15]:
our_df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [16]:
our_df.to_excel('example.xlsx', sheet_name="First_Sheet", index=False)