In [2]:
import numpy as np
import pandas as pd

In [4]:
help(pd.Series)

>>> d = {'num_legs': [4, 4, 2, 2],
 |      ...      'num_wings': [0, 0, 2, 2],
 |      ...      'class': ['mammal', 'mammal', 'mammal', 'bird'],
 |      ...      'animal': ['cat', 'dog', 'bat', 'penguin'],
 |      ...      'locomotion': ['walks', 'walks', 'flies', 'walks']}
 |      >>> df = pd.DataFrame(data=d)
 |      >>> df = df.set_index(['class', 'animal', 'locomotion'])
 |      >>> df
 |                                 num_legs  num_wings
 |      class  animal  locomotion
 |      mammal cat     walks              4          0
 |             dog     walks              4          0
 |             bat     flies              2          2
 |      bird   penguin walks              2          2
 |
 |      Get values at specified index
 |
 |      >>> df.xs('mammal')
 |                         num_legs  num_wings
 |      animal locomotion
 |      cat    walks              4          0
 |      dog    walks              4          0
 |      bat    flies              2          2
 |
 |      Get values at several indexes
 |
 |      >>> df.xs(('mammal', 'dog'))
 |                  num_legs  num_wings
 |      locomotion
 |      walks              4          0
 |
 |      Get values at specified index and level
 |
 |      >>> df.xs('cat', level=1)
 |                         num_legs  num_wings
 |      class  locomotion
 |      mammal walks              4          0
 |
 |      Get values at several indexes and levels
 |
 |      >>> df.xs(('bird', 'walks'),
 |      ...       level=[0, 'locomotion'])
 |               num_legs  num_wings
 |      animal
 |      penguin         2          2
 |
 |      Get values at specified column and axis
 |
 |      >>> df.xs('num_wings', axis=1)
 |      class   animal   locomotion
 |      mammal  cat      walks         0
 |              dog      walks         0
 |              bat      flies         2
 |      bird    penguin  walks         2
 |      Name: num_wings, dtype: int64
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties inherited from pandas.core.generic.NDFrame:
 |
 |  flags
 |      Get the properties associated with this pandas object.
 |
 |      The available flags are
 |
 |      * :attr:`Flags.allows_duplicate_labels`
 |
 |      See Also
 |      --------
 |      Flags : Flags that apply to pandas objects.
 |      DataFrame.attrs : Global metadata applying to this dataset.
 |
 |      Notes
 |      -----
 |      "Flags" differ from "metadata". Flags reflect properties of the
 |      pandas object (the Series or DataFrame). Metadata refer to properties
 |      of the dataset, and should be stored in :attr:`DataFrame.attrs`.
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame({"A": [1, 2]})
 |      >>> df.flags
 |      <Flags(allows_duplicate_labels=True)>
 |
 |      Flags can be get or set using ``.``
 |
 |      >>> df.flags.allows_duplicate_labels
 |      True
 |      >>> df.flags.allows_duplicate_labels = False
 |
 |      Or by slicing with a key
 |
 |      >>> df.flags["allows_duplicate_labels"]
 |      False
 |      >>> df.flags["allows_duplicate_labels"] = True
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from pandas.core.generic.NDFrame:
 |
 |  attrs
 |      Dictionary of global attributes of this dataset.
 |
 |      .. warning::
 |
 |         attrs is experimental and may change without warning.
 |
 |      See Also
 |      --------
 |      DataFrame.flags : Global flags applying to this object.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas.core.base.PandasObject:
 |
 |  __sizeof__(self)
 |      Generates the total memory usage for an object that returns
 |      either a value or Series of values
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from pandas.core.accessor.DirNamesMixin:
 |
 |  __dir__(self) -> List[str]
 |      Provide method name lookup and completion.
 |
 |      Notes
 |      -----
 |      Only provide 'public' methods.
 |
 |  ----------------------------------------------------------------------
 |  Readonly properties inherited from pandas.core.indexing.IndexingMixin:
 |
 |  at
 |      Access a single value for a row/column label pair.
 |
 |      Similar to ``loc``, in that both provide label-based lookups. Use
 |      ``at`` if you only need to get or set a single value in a DataFrame
 |      or Series.
 |
 |      Raises
 |      ------
 |      KeyError
 |          If 'label' does not exist in DataFrame.
 |
 |      See Also
 |      --------
 |      DataFrame.iat : Access a single value for a row/column pair by integer
 |          position.
 |      DataFrame.loc : Access a group of rows and columns by label(s).
 |      Series.at : Access a single value using a label.
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],
 |      ...                   index=[4, 5, 6], columns=['A', 'B', 'C'])
 |      >>> df
 |          A   B   C
 |      4   0   2   3
 |      5   0   4   1
 |      6  10  20  30
 |
 |      Get value at specified row/column pair
 |
 |      >>> df.at[4, 'B']
 |      2
 |
 |      Set value at specified row/column pair
 |
 |      >>> df.at[4, 'B'] = 10
 |      >>> df.at[4, 'B']
 |      10
 |
 |      Get value within a Series
 |
 |      >>> df.loc[5].at['B']
 |      4
 |
 |  iat
 |      Access a single value for a row/column pair by integer position.
 |
 |      Similar to ``iloc``, in that both provide integer-based lookups. Use
 |      ``iat`` if you only need to get or set a single value in a DataFrame
 |      or Series.
 |
 |      Raises
 |      ------
 |      IndexError
 |          When integer position is out of bounds.
 |
 |      See Also
 |      --------
 |      DataFrame.at : Access a single value for a row/column label pair.
 |      DataFrame.loc : Access a group of rows and columns by label(s).
 |      DataFrame.iloc : Access a group of rows and columns by integer position(s).
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],
 |      ...                   columns=['A', 'B', 'C'])
 |      >>> df
 |          A   B   C
 |      0   0   2   3
 |      1   0   4   1
 |      2  10  20  30
 |
 |      Get value at specified row/column pair
 |
 |      >>> df.iat[1, 2]
 |      1
 |
 |      Set value at specified row/column pair
 |
 |      >>> df.iat[1, 2] = 10
 |      >>> df.iat[1, 2]
 |      10
 |
 |      Get value within a series
 |
 |      >>> df.loc[0].iat[1]
 |      2
 |
 |  iloc
 |      Purely integer-location based indexing for selection by position.
 |
 |      ``.iloc[]`` is primarily integer position based (from ``0`` to
 |      ``length-1`` of the axis), but may also be used with a boolean
 |      array.
 |
 |      Allowed inputs are:
 |
 |      - An integer, e.g. ``5``.
 |      - A list or array of integers, e.g. ``[4, 3, 0]``.
 |      - A slice object with ints, e.g. ``1:7``.
 |      - A boolean array.
 |      - A ``callable`` function with one argument (the calling Series or
 |        DataFrame) and that returns valid output for indexing (one of the above).
 |        This is useful in method chains, when you don't have a reference to the
 |        calling object, but would like to base your selection on some value.
 |
 |      ``.iloc`` will raise ``IndexError`` if a requested indexer is
 |      out-of-bounds, except *slice* indexers which allow out-of-bounds
 |      indexing (this conforms with python/numpy *slice* semantics).
 |
 |      See more at :ref:`Selection by Position <indexing.integer>`.
 |
 |      See Also
 |      --------
 |      DataFrame.iat : Fast integer location scalar accessor.
 |      DataFrame.loc : Purely label-location based indexer for selection by label.
 |      Series.iloc : Purely integer-location based indexing for
 |                     selection by position.
 |
 |      Examples
 |      --------
 |      >>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
 |      ...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
 |      ...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000 }]
 |      >>> df = pd.DataFrame(mydict)
 |      >>> df
 |            a     b     c     d
 |      0     1     2     3     4
 |      1   100   200   300   400
 |      2  1000  2000  3000  4000
 |
 |      **Indexing just the rows**
 |
 |      With a scalar integer.
 |
 |      >>> type(df.iloc[0])
 |      <class 'pandas.core.series.Series'>
 |      >>> df.iloc[0]
 |      a    1
 |      b    2
 |      c    3
 |      d    4
 |      Name: 0, dtype: int64
 |
 |      With a list of integers.
 |
 |      >>> df.iloc[[0]]
 |         a  b  c  d
 |      0  1  2  3  4
 |      >>> type(df.iloc[[0]])
 |      <class 'pandas.core.frame.DataFrame'>
 |
 |      >>> df.iloc[[0, 1]]
 |           a    b    c    d
 |      0    1    2    3    4
 |      1  100  200  300  400
 |
 |      With a `slice` object.
 |
 |      >>> df.iloc[:3]
 |            a     b     c     d
 |      0     1     2     3     4
 |      1   100   200   300   400
 |      2  1000  2000  3000  4000
 |
 |      With a boolean mask the same length as the index.
 |
 |      >>> df.iloc[[True, False, True]]
 |            a     b     c     d
 |      0     1     2     3     4
 |      2  1000  2000  3000  4000
 |
 |      With a callable, useful in method chains. The `x` passed
 |      to the ``lambda`` is the DataFrame being sliced. This selects
 |      the rows whose index label even.
 |
 |      >>> df.iloc[lambda x: x.index % 2 == 0]
 |            a     b     c     d
 |      0     1     2     3     4
 |      2  1000  2000  3000  4000
 |
 |      **Indexing both axes**
 |
 |      You can mix the indexer types for the index and columns. Use ``:`` to
 |      select the entire axis.
 |
 |      With scalar integers.
 |
 |      >>> df.iloc[0, 1]
 |      2
 |
 |      With lists of integers.
 |
 |      >>> df.iloc[[0, 2], [1, 3]]
 |            b     d
 |      0     2     4
 |      2  2000  4000
 |
 |      With `slice` objects.
 |
 |      >>> df.iloc[1:3, 0:3]
 |            a     b     c
 |      1   100   200   300
 |      2  1000  2000  3000
 |
 |      With a boolean array whose length matches the columns.
 |
 |      >>> df.iloc[:, [True, False, True, False]]
 |            a     c
 |      0     1     3
 |      1   100   300
 |      2  1000  3000
 |
 |      With a callable function that expects the Series or DataFrame.
 |
 |      >>> df.iloc[:, lambda df: [0, 2]]
 |            a     c
 |      0     1     3
 |      1   100   300
 |      2  1000  3000
 |
 |  loc
 |      Access a group of rows and columns by label(s) or a boolean array.
 |
 |      ``.loc[]`` is primarily label based, but may also be used with a
 |      boolean array.
 |
 |      Allowed inputs are:
 |
 |      - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
 |        interpreted as a *label* of the index, and **never** as an
 |        integer position along the index).
 |      - A list or array of labels, e.g. ``['a', 'b', 'c']``.
 |      - A slice object with labels, e.g. ``'a':'f'``.
 |
 |        .. warning:: Note that contrary to usual python slices, **both** the
 |            start and the stop are included
 |
 |      - A boolean array of the same length as the axis being sliced,
 |        e.g. ``[True, False, True]``.
 |      - An alignable boolean Series. The index of the key will be aligned before
 |        masking.
 |      - An alignable Index. The Index of the returned selection will be the input.
 |      - A ``callable`` function with one argument (the calling Series or
 |        DataFrame) and that returns valid output for indexing (one of the above)
 |
 |      See more at :ref:`Selection by Label <indexing.label>`.
 |
 |      Raises
 |      ------
 |      KeyError
 |          If any items are not found.
 |      IndexingError
 |          If an indexed key is passed and its index is unalignable to the frame index.
 |
 |      See Also
 |      --------
 |      DataFrame.at : Access a single value for a row/column label pair.
 |      DataFrame.iloc : Access group of rows and columns by integer position(s).
 |      DataFrame.xs : Returns a cross-section (row(s) or column(s)) from the
 |          Series/DataFrame.
 |      Series.loc : Access group of values using labels.
 |
 |      Examples
 |      --------
 |      **Getting values**
 |
 |      >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
 |      ...      index=['cobra', 'viper', 'sidewinder'],
 |      ...      columns=['max_speed', 'shield'])
 |      >>> df
 |                  max_speed  shield
 |      cobra               1       2
 |      viper               4       5
 |      sidewinder          7       8
 |
 |      Single label. Note this returns the row as a Series.
 |
 |      >>> df.loc['viper']
 |      max_speed    4
 |      shield       5
 |      Name: viper, dtype: int64
 |
 |      List of labels. Note using ``[[]]`` returns a DataFrame.
 |
 |      >>> df.loc[['viper', 'sidewinder']]
 |                  max_speed  shield
 |      viper               4       5
 |      sidewinder          7       8
 |
 |      Single label for row and column
 |
 |      >>> df.loc['cobra', 'shield']
 |      2
 |
 |      Slice with labels for row and single label for column. As mentioned
 |      above, note that both the start and stop of the slice are included.
 |
 |      >>> df.loc['cobra':'viper', 'max_speed']
 |      cobra    1
 |      viper    4
 |      Name: max_speed, dtype: int64
 |
 |      Boolean list with the same length as the row axis
 |
 |      >>> df.loc[[False, False, True]]
 |                  max_speed  shield
 |      sidewinder          7       8
 |
 |      Alignable boolean Series:
 |
 |      >>> df.loc[pd.Series([False, True, False],
 |      ...        index=['viper', 'sidewinder', 'cobra'])]
 |                  max_speed  shield
 |      sidewinder          7       8
 |
 |      Index (same behavior as ``df.reindex``)
 |
 |      >>> df.loc[pd.Index(["cobra", "viper"], name="foo")]
 |             max_speed  shield
 |      foo
 |      cobra          1       2
 |      viper          4       5
 |
 |      Conditional that returns a boolean Series
 |
 |      >>> df.loc[df['shield'] > 6]
 |                  max_speed  shield
 |      sidewinder          7       8
 |
 |      Conditional that returns a boolean Series with column labels specified
 |
 |      >>> df.loc[df['shield'] > 6, ['max_speed']]
 |                  max_speed
 |      sidewinder          7
 |
 |      Callable that returns a boolean Series
 |
 |      >>> df.loc[lambda df: df['shield'] == 8]
 |                  max_speed  shield
 |      sidewinder          7       8
 |
 |      **Setting values**
 |
 |      Set value for all items matching the list of labels
 |
 |      >>> df.loc[['viper', 'sidewinder'], ['shield']] = 50
 |      >>> df
 |                  max_speed  shield
 |      cobra               1       2
 |      viper               4      50
 |      sidewinder          7      50
 |
 |      Set value for an entire row
 |
 |      >>> df.loc['cobra'] = 10
 |      >>> df
 |                  max_speed  shield
 |      cobra              10      10
 |      viper               4      50
 |      sidewinder          7      50
 |
 |      Set value for an entire column
 |
 |      >>> df.loc[:, 'max_speed'] = 30
 |      >>> df
 |                  max_speed  shield
 |      cobra              30      10
 |      viper              30      50
 |      sidewinder         30      50
 |
 |      Set value for rows matching callable condition
 |
 |      >>> df.loc[df['shield'] > 35] = 0
 |      >>> df
 |                  max_speed  shield
 |      cobra              30      10
 |      viper               0       0
 |      sidewinder          0       0
 |
 |      **Getting values on a DataFrame with an index that has integer labels**
 |
 |      Another example using integers for the index
 |
 |      >>> df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
 |      ...      index=[7, 8, 9], columns=['max_speed', 'shield'])
 |      >>> df
 |         max_speed  shield
 |      7          1       2
 |      8          4       5
 |      9          7       8
 |
 |      Slice with integer labels for rows. As mentioned above, note that both
 |      the start and stop of the slice are included.
 |
 |      >>> df.loc[7:9]
 |         max_speed  shield
 |      7          1       2
 |      8          4       5
 |      9          7       8
 |
 |      **Getting values with a MultiIndex**
 |
 |      A number of examples using a DataFrame with a MultiIndex
 |
 |      >>> tuples = [
 |      ...    ('cobra', 'mark i'), ('cobra', 'mark ii'),
 |      ...    ('sidewinder', 'mark i'), ('sidewinder', 'mark ii'),
 |      ...    ('viper', 'mark ii'), ('viper', 'mark iii')
 |      ... ]
 |      >>> index = pd.MultiIndex.from_tuples(tuples)
 |      >>> values = [[12, 2], [0, 4], [10, 20],
 |      ...         [1, 4], [7, 1], [16, 36]]
 |      >>> df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
 |      >>> df
 |                           max_speed  shield
 |      cobra      mark i           12       2
 |                 mark ii           0       4
 |      sidewinder mark i           10      20
 |                 mark ii           1       4
 |      viper      mark ii           7       1
 |                 mark iii         16      36
 |
 |      Single label. Note this returns a DataFrame with a single index.
 |
 |      >>> df.loc['cobra']
 |               max_speed  shield
 |      mark i          12       2
 |      mark ii          0       4
 |
 |      Single index tuple. Note this returns a Series.
 |
 |      >>> df.loc[('cobra', 'mark ii')]
 |      max_speed    0
 |      shield       4
 |      Name: (cobra, mark ii), dtype: int64
 |
 |      Single label for row and column. Similar to passing in a tuple, this
 |      returns a Series.
 |
 |      >>> df.loc['cobra', 'mark i']
 |      max_speed    12
 |      shield        2
 |      Name: (cobra, mark i), dtype: int64
 |
 |      Single tuple. Note using ``[[]]`` returns a DataFrame.
 |
 |      >>> df.loc[[('cobra', 'mark ii')]]
 |                     max_speed  shield
 |      cobra mark ii          0       4
 |
 |      Single tuple for the index with a single label for the column
 |
 |      >>> df.loc[('cobra', 'mark i'), 'shield']
 |      2
 |
 |      Slice from index tuple to single label
 |
 |      >>> df.loc[('cobra', 'mark i'):'viper']
 |                           max_speed  shield
 |      cobra      mark i           12       2
 |                 mark ii           0       4
 |      sidewinder mark i           10      20
 |                 mark ii           1       4
 |      viper      mark ii           7       1
 |                 mark iii         16      36
 |
 |      Slice from index tuple to index tuple
 |
 |      >>> df.loc[('cobra', 'mark i'):('viper', 'mark ii')]
 |                          max_speed  shield
 |      cobra      mark i          12       2
 |                 mark ii          0       4
 |      sidewinder mark i          10      20
 |                 mark ii          1       4
 |      viper      mark ii          7       1

In [5]:
myindex = ["USA", "Canada", "Mexico"]

In [7]:
mydata = [1776,1867,1821]

In [9]:
myser = pd.Series(data=mydata)
myser

0    1776
1    1867
2    1821
dtype: int64

In [11]:
type(myser)

pandas.core.series.Series

In [13]:
myser = pd.Series(data=mydata, index=myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [14]:
myser[0]

1776

In [15]:
myser["USA"]

1776

In [16]:
myser = pd.Series(mydata,myindex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [17]:
ages ={"Sam":5, "Frank":10, "Spike":7}

In [18]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [19]:
ageser = pd.Series(ages)
ageser

Sam       5
Frank    10
Spike     7
dtype: int64

In [20]:
ageser["Sam"]

5

In [22]:
score = {"Sam": {"A":90}, "Frank":{"B":80}, "Spike":{"C":70}}

In [23]:
pd.Series(score)

Sam      {'A': 90}
Frank    {'B': 80}
Spike    {'C': 70}
dtype: object

In [24]:
expenses = pd.Series({'Andrew':200,'Bob':150,'Claire':450})
pd.Series(expenses)

Andrew    200
Bob       150
Claire    450
dtype: int64

In [25]:
bob_expense = pd.Series(expenses)
bob_expense["Bob"]

150

In [27]:
bob_expense = pd.Series(expenses)['Bob']
bob_expense

150

In [28]:
q1 = {'Japan':80, 'China':450, 'India':200, 'USA':250}
q2 = {'Brasil':100, 'China':500, 'India':210, 'USA':260}

In [29]:
sales_q1 = pd.Series(q1)

In [30]:
sales_q2 = pd.Series(q2)

In [31]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [33]:
sales_q2

Brasil    100
China     500
India     210
USA       260
dtype: int64

In [34]:
sales_q1['Japan']

80

In [36]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [41]:
[1,2]*2

[1, 2, 1, 2]

In [51]:
np.array([1,2])*2

array([2, 4])

In [52]:
sales_q1*2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [53]:
sales_q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [54]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [55]:
sales_q2

Brasil    100
China     500
India     210
USA       260
dtype: int64

In [57]:
sales_q1 + sales_q2

Brasil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [58]:
sales_q1.add(sales_q2,fill_value=0)

Brasil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [59]:
sales_q1.dtype

dtype('int64')

In [60]:
first_half = sales_q1.add(sales_q2,fill_value=0)

In [61]:
first_half.dtype

dtype('float64')

In [14]:
mydata = np.random.randint(0,101,4)

In [15]:
myser2 = pd.Series(mydata)
myser2

0    57
1    84
2    61
3    92
dtype: int32

In [16]:
mydata2 = np.random.randint(0,101,(4,3))

In [17]:
myser3 = pd.Series(mydata2)
myser3

ValueError: Data must be 1-dimensional